@import "../../scss/variables";

.user-info__container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin: 0 auto 3rem;
}

.user-info__table {
	margin: 2rem auto;
	color: $color-brown;
	caption {
		text-transform: uppercase;
		padding: 1.5rem;
	}
	td {
		padding: 0.4rem;
	}
	td:first-child {
		text-align: right;
	}
}

.user-info__button-wrapper {
	margin: auto;
	display: flex;
}

.user-info__button {
	min-width: 13rem;
	margin: 1rem 0.5rem;
	display: block;
	background-color: $color-green;
}

.button--red {
	background-color: $color-red;
}
