@import "../../scss/variables";
@import "../../scss/_mixins.scss";

.pizza__container {
	flex: 1 1 50%;
	padding: 0.5rem;
	margin-top: 2rem;
}

.create-pizza__form {
	display: flex;
	flex-direction: column;
	label,
	legend {
		color: $color-brown;
	}
}

.create-pizza__legend {
	line-height: 1.2em;
}

.create-pizza__fieldset-inner {
	margin-bottom: 1.2rem;
	display: flex;
	flex-flow: row wrap;
}

.create-pizza__checkbox-label,
.create-pizza__radio-label {
	margin: 0.2em;
}

.create-pizza__checkbox,
.create-pizza__radio {
	opacity: 0;
	position: absolute;
}

.create-pizza__checkbox-span,
.create-pizza__radio-span {
	position: relative;
	display: block;
	font-size: 1.4rem;
	padding: 0.8em 1em;
	border-radius: 5px;
	transition: opacity 0.15s, box-shadow 0.15s;
	opacity: 0.7;
	white-space: nowrap;
	&:hover {
		box-shadow: 0 5px 20px 0 rgba($color-brown, 0.6);
	}
}

.js-shadowed {
	opacity: 0.3;
}

.create-pizza__checkbox-span--ingredient {
	padding-left: 40px;
	background-position: 5px 50%;
	background-repeat: no-repeat;
}

.create-pizza__span-image {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	width: 30px;
}

.create-pizza__checkbox:checked + .create-pizza__checkbox-span,
.create-pizza__radio:checked + .create-pizza__radio-span {
	box-shadow: inset 0 0 0 1px;
	opacity: 1;
}

.create-pizza__input-text {
	font-size: 1.6rem;
	padding: 0.6em;
	margin: 0.2rem 0 1.2rem;
	border: none;
	border-radius: 5px;
	resize: none;
}

.create-pizza__button-wrapper {
	display: flex;
	justify-content: flex-end;
	padding: 0 5px;
	margin: 10px -10px 0;
}

.create-pizza__button {
	flex: 1;
	margin: 0 5px;
	max-width: 170px;
}

.create-pizza__button--submit {
	background: $color-green;
}

.create-pizza__button--reset {
	background: $color-red;
}
