@import "../../scss/variables";
@import "../../scss/_mixins.scss";

.header__container {
	background: $header-background;
}

.header {
	max-width: 1170px;
	padding: 0 1.5rem;
	margin: auto;
	min-height: 15rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
	@include media-query(0, 500px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.header__time {
	font-size: 1.2em;
	color: white;
	white-space: nowrap;
	padding: 1rem 1.5rem;
	justify-self: left;
	@include media-query(0, 500px) {
		justify-self: center;
		align-self: end;
	}
}

.header__logo {
	@include media-query(0, 500px) {
		grid-column: 1;
		grid-row: 1 / 3;
	}
}

.logo__img {
	width: 13rem;
	margin: auto;
}

.header__auth {
	justify-self: right;
	@include media-query(0, 500px) {
		justify-self: center;
		align-self: start;
	}
}
