@import "../../scss/variables";

.register-form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: 3rem auto;
	label {
		color: $color-brown;
	}
}

.register-form__name,
.register-form__password,
.register-form__email,
.register-form__store_id,
.register-form__store_password {
	font-size: 1.6rem;
	padding: 0.6em;
	margin: 0.2rem 0 1.6rem;
	border: none;
	border-radius: 5px;
}

.register-form__store_id {
	height: 3.8rem;
}

.register-form__button {
	flex-grow: 1;
}

.button--register {
	background: $color-green;
}
