.main {
	padding: 3rem 0;
}

.main__container {
	max-width: 1170px;
	padding: 3rem 1.5rem;
	margin: auto;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 1rem;
}

.main__item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem 0;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 1rem;
	padding: 1rem;
	:nth-child(odd) {
		text-align: right;
	}
	transition: $transition;
	&:hover {
		background: $color-transparent;
	}
}

.item__pic {
	max-width: 300px;
	width: 100%;
	margin: auto;
	grid-column: 1 / 3;
}

.item__price {
	font-weight: bold;
}
