.main {
	padding: 3rem 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	max-width: 1170px;
	margin: auto;
}

.main--create {
	padding-top: 5rem;
	flex-direction: row;
}

.main__button {
	margin: auto;
	display: block;
	background: $color-red;
}

.main__heading {
	width: 100%;
	text-align: center;
	color: $color-brown;
	text-transform: uppercase;
	font-size: 2.5rem;
	letter-spacing: 0.1em;
	margin: 2rem 0;
}
