html {
	box-sizing: border-box;
	min-width: 320px;
	font-family: $font-main;
	font-size: 10px;
	height: 100%;
	background: $color-orange-red;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	font-size: 1.6rem;
	background: $body-background;
	position: relative;
	padding-bottom: 15rem;
}

a:focus {
	outline-color: $color-red;
}

.button {
	border: none;
	border-radius: 5px;
	padding: 1rem 1.5rem;
	min-height: 40px;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.6rem;
	white-space: nowrap;
	text-align: center;
	transition: transform 0.1s, box-shadow $transition;
	cursor: pointer;
	line-height: normal;
	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	&:active {
		transform: translateY(1px);
	}
	&:focus {
		outline-color: $color-red;
	}
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}
