$font-main: 'Roboto', sans-serif;

$color-yellow: #F1C54F;
$color-orange-red: #EE4C42;
$color-red: #BC0B14;
$color-transparent: rgba(255, 255, 255, 0.7);
$color-green: #4F7513;
$color-brown: #862f0b;

$transition: 0.2s;

$header-background: $color-orange-red;
$body-background: $color-yellow;
$footer-background: $color-orange-red;
